{% extends "header.html" %} 
{% block "content" %}
{% load humanize %}
{% load static %}

<div class="container py-4">
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#mi-modal">
        Abrir Modal
    </button>
    <div class="modal fade" id="mi-modal" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-scrollable ">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="w-100 text-center">
                        <h2 class="modal-title">Editar perfil</h2>
                      </div>
                  <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
   
                        <!-- Foto del perfil -->
                        <div class="row ">
                          <h4 class="mb-0">Foto del perfil</h4>
                          <div class="w-50 mx-auto text-center">
                            <img class="img-fluid rounded-circle" src="https://via.placeholder.com/200" alt="Perfil"
                             >
                          </div>
                            
                            <a href="#" class="ms-auto text-primary">Agregar</a>
                        </div>
                       <!-- Foto de portada -->
                       <div class="mb-4">
                        <h5>Foto de portada</h5>
                        <div class="bg-light p-4 mb-2"></div>
                        <a href="#" class="text-primary">Agregar</a>
                       </div>
                          <!-- Presentacion -->
                          <div class="mb-4">
                            <h4>Presentacion</h4>
                            <div class="bg-light p-4 mb-2"></div>
                            <a href="#" class="text-primary">Agregar</a>
                           </div>
                   
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Editar la seccion "Informacion"</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock "content" %}


