{% extends "header.html" %} {% block "content" %} {% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<section class="perfil-usuario" >
  <div class="contenedor-perfil">
    <div
      class="portada-perfil"
      style="
        background-image: url('{% if profile.cover_photo %}{{ profile.cover_photo.url }}{% else %}{% static 'default-cover-photo.jpg' %}{% endif %}');
      "
    >
      <div class="sombra"></div>
      <div class="avatar-perfil">
        {% if profile.avatar %}
        <img
          
          class="rounded float-lef"
          src="{{ profile.avatar.url }}"
          alt="Avatar"
        />
        <a href="#" class="cambiar-foto">
          <i class="fas fa-camera"></i>
          <span>Cambiar foto</span>
        </a>
        {% else %}
        <img src="http://localhost/multimedia/relleno/img-c9.png" alt="img" />
        <a href="#" id="select-image" class="cambiar-foto">
          <i class="fas fa-camera"></i>
          <span>Cambiar foto</span>
        </a>
        {% endif %}
      </div>
      <div class="datos-perfil">
        <h4 class="titulo-usuario">{{ profile.user.username }}</h4>
        {% comment %}
        <p class="bio-usuario">
          Lorem ipsum dolor sit, amet consectetur adipisicing.
        </p>
        {% endcomment %}
        <p class="bio-usuario">{{ profile.biography }}</p>
        <ul class="lista-perfil">
          <li>35 Seguidores</li>
          <li>7 Seguidos</li>
          <li>32 Publicaciones</li>
        </ul>
      </div>
      <div class="opcciones-perfil">
        <button type="">Cambiar portada</button>
        <button
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#mi-modal"
        >
          <i class="fas fa-wrench"></i>
        </button>
      </div>
    </div>
    <div class="menu-perfil">
      <ul>
        <li>
          <a href="#" title=""
            ><i class="icono-perfil fas fa-bullhorn"></i> Publicaciones</a
          >
        </li>
        <li>
          <a href="#" title=""
            ><i class="icono-perfil fas fa-info-circle"></i> Informacion</a
          >
        </li>

        <li>
          <a href="#" title=""
            ><i class="icono-perfil fas fa-camera"></i> Fotos</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="modal fade" id="mi-modal" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div class="w-100 text-center">
          <h2 class="modal-title">Editar perfil</h2>
        </div>
        <button
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'edit_profile' %}"
        >
          {% csrf_token %}
          <!-- Foto del perfil -->
          <div class="row mb-4">
            <h4 class="mb-0">Foto del perfil</h4>
            <div class="profile-img-container mx-auto text-center">
              {% if user.profile.avatar %}
              <img
                id="profile-img-preview"
                class="img-fluid rounded-circle"
                src="{{ user.profile.avatar.url }}"
                alt="Perfil"
              />
              {% else %}
              <img
                id="profile-img-preview"
                class="img-fluid rounded-circle"
                src="{% static 'default-avatar.jpg' %}"
                alt="Perfil"
              />
              {% endif %}
            </div>
            <input type="file" id="profile-avatar"name="avatar" class="form-control mt-2" accept="image/*" />
          </div>

          <!-- Foto de portada -->
          <div class="mb-4">
            <h5>Foto de portada</h5>
            <div
              id="cover-img-preview"
              class="bg-light p-4 mb-2"
              style="background-image: url('{% if user.profile.cover_photo %}{{ user.profile.cover_photo.url }}{% else %}{% static 'default-cover-photo.jpg' %}{% endif %}'); background-size: cover; height: 200px;"
            ></div>
            <input type="file" id="cover-photo" name="cover_photo" class="form-control mt-2" accept="image/*" />
          </div>

          <!-- Presentación -->
          <div class="mb-4">
            <h4>Presentación</h4>
            <textarea name="biography" class="form-control" rows="4">{{ user.profile.biography }}</textarea
            >
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">
              Guardar cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="main-content" >
  <div class="create-post">
    <div class="create-post-input">

      {% if profile.avatar %}
        <img
          
          class="rounded float-lef"
          src="{{ profile.avatar.url }}"
          alt="Avatar"
        />
       
        {% else %}
        <img src="http://localhost/multimedia/relleno/img-c9.png" alt="img" />
      
        {% endif %}
       <textarea rows="2" placeholder="Write a post"></textarea>
    </div>
    <div class="create-post-links">
        <li><i class="fas fa-image"></i></li>
        <li> <i class="fas fa-video"></i></li>
        <li><i class="fas fa-calendar"></i></li>
        <li>Post</li>
    </div>

  </div>
</div>
<script src="{% static 'js/profile.js' %}"></script> 
{% endblock "content" %}
