{% extends "header.html" %} {% load static %} {% block "content" %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 110vh;">
    <div class="container mt-5" style="max-width: 800px; width: 100%;">
        <!-- Título del formulario con un estilo agradable -->
        <h1 class="text-center mb-4 p-4 shadow-sm rounded" style="background-color: #f8f9fa; font-size: 2.5rem;">
            {% if form.instance.pk %}
                Editar Post
            {% else %}
                Crear Post
            {% endif %}
        </h1>
        <!-- Formulario con estilos de Bootstrap -->
        <form method="post" enctype="multipart/form-data" class="p-5 shadow-sm rounded" style="background-color: white;">
            {% csrf_token %}
            <!-- Renderizamos los campos del formulario -->
            <div class="mb-3">
                <textarea name="description" cols="50" rows="7" id="id_description" style="border:none; width: 100%;"></textarea>
            </div>
            <div>
                <label for="id_file">file:</label>
                <input type="file" name="file" accept="image/*" id="id_file" style="display: none;">
            </div>
            <!-- Botón personalizado con icono -->
            <label for="id_file" class="custom-file-upload">
                <i class="fas fa-upload"></i> Subir archivo
            </label>
            <!-- Botón de guardar estilizado con Bootstrap -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock "content"%}