.reaction-container {
    position: relative;
    display: inline-block;
}

/* Ocultar emojis inicialmente */
.emoji-reactions {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
}

.emoji-reactions img {
    width: 40px;
    margin-right: 5px;
    cursor: pointer;
}

/* Estilo del botón "Me gusta" */
.reaction-button {
    cursor: pointer;
}

.reaction-selected {
    font-weight: bold;
}