{% extends "index.html" %} {% block "content" %} 

<section class="perfil-usuario">
  <div class="contenedor-perfil">
    <div
      class="portada-perfil"
      style="
        background-image: url('http://localhost/multimedia/relleno/fondo-9.png');
      "
    >
      <div class="sombra"></div>
      <div class="avatar-perfil">
     
        {% if profile.avatar %}
        <img
          class="rounded float-lef"
          src="{{ profile.avatar.url }}"
          alt="Avatar"
        />
        <a href="#" class="cambiar-foto">
            <i class="fas fa-camera"></i>
            <span>Cambiar foto</span>
          </a>
        {% else %}
        <img src="http://localhost/multimedia/relleno/img-c9.png" alt="img"/>
        <a href="#" class="cambiar-foto">
            <i class="fas fa-camera"></i>
            <span>Cambiar foto</span>
          </a>
        {% endif %}
      </div>
      <div class="datos-perfil">
        <h4 class="titulo-usuario">{{ profile.user.username }}</h4>
        {% comment %}
        <p class="bio-usuario">
          Lorem ipsum dolor sit, amet consectetur adipisicing.
        </p>
        {% endcomment %}
        <p class="bio-usuario">{{ profile.biography }}</p>
        <ul class="lista-perfil">
          <li>35 Seguidores</li>
          <li>7 Seguidos</li>
          <li>32 Publicaciones</li>
        </ul>
      </div>
      <div class="opcciones-perfil">
        <button type="">Cambiar portada</button>
        <button type=""><i class="fas fa-wrench"></i></button>
      </div>
    </div>
    <div class="menu-perfil">
      <ul>
        <li>
          <a href="#" title=""
            ><i class="icono-perfil fas fa-bullhorn"></i> Publicaciones</a
          >
        </li>
        <li>
          <a href="#" title=""
            ><i class="icono-perfil fas fa-info-circle"></i> Informacion</a
          >
        </li>

        <li>
          <a href="#" title=""
            ><i class="icono-perfil fas fa-camera"></i> Fotos</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock "content" %} 